<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.name %>, your booking was successfully created!</h1>
    <p>
      You can see the details of your flight following this link: <%= @url %>
    </p>
    <p>Thanks you and have a great day!</p>
  </body>
</html>